---
type Props = {
  calloutType: "note" | "todo" | "bug";
};

const { calloutType } = Astro.props;
---

<div class="shadow-primary/50 bg-stone rounded-b-xl p-5 pb-10 pt-10 shadow-md">
  <slot />
</div>
