---
import { Code, Checkbox, Pencil1, Quote, Mix } from "@astropub/icons";
type Props = {
  calloutType: "note" | "todo" | "bug" | "quote" | "verse";
};

const { calloutType } = Astro.props;
---

<div
  class="flex items-center gap-2 rounded-t-lg bg-white px-4 py-2 text-sm font-bold text-background"
>
  <div class="w-4">
    {calloutType === "note" && <Code />}
    {calloutType === "todo" && <Checkbox />}
    {calloutType === "bug" && <Pencil1 />}
    {calloutType === "quote" && <Quote />}
    {calloutType === "verse" && <Mix />}
  </div>
  <slot />
</div>
