---
import { Image } from "astro:assets";
import ProfileImage from "../../assets/me.png";
import Layout from "../../layouts/Layout.astro";
import Github from "../../components/github";
---

<Layout
    title="私について - 1hachem.xyz"
    description="ハシェム・ベトルーニと彼の旅についてもっと学びましょう。"
>
    <div class="flex flex-col gap-8">
        <div class="text-l flex flex-row items-center gap-4">
            <Image class="w-32" src={ProfileImage} alt={"笑っている私"} />
            <div>
                私の名前はハシェム・ベトルーニで、現在
                <a href="https://big-mama.io" class="text-blue-400 underline"
                    >BIGmama</a
                > でCTOとして働いています。
                <br />
                AIの孵化器 🐣で、ドメイン専門知識からAIソフトウェアまでアイデアを育てています。
                <br />
                現在、AIのワークフロービルダーである
                <a class="text-blue-400 underline" href="https://hyko.ai/"
                    >Hyko</a
                > の開発を率いています。
            </div>
        </div>
        <div>
            <h3 class="text-lg font-bold">私についての豆知識</h3>
            <ul>
                <li>スマートフォンを所有したことがありません</li>
                <li>かわいい男の子、ヌーの父親です</li>
                <li>facebook、linkedin、instagram、Xなどが嫌いです</li>
                <li>ヒッチハイク、キャンプ、計画なしの旅行が好きです</li>
            </ul>
        </div>
        <div>
            <h3 class="text-lg font-bold">私が使用する技術</h3>
            <p>
                Python、TypeScript、FastAPI、MongoDB、Docker、Kubernetes、Redis、
                Next.js、Astro.js、VIM、GIT、Tailwindcss
            </p>
        </div>
        <div>
            <h3 class="text-lg font-bold">私が愛用するツール</h3>
            <p>zeditor、lazygit、obsidian、rofi、posthog、zsh</p>
        </div>
        <div>
            <h3 class="text-lg font-bold">今年の活動</h3>
            <Github client:only />
        </div>
    </div>
</Layout>
