---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="À Propos de Moi - 1hachem.xyz"
    description="Découvrez-en plus sur Hachem Betrouni et son parcours."
>
    <div class="flex flex-col gap-4">
        <div class="text-xl">
            Je m'appelle Hachem Betrouni, je travaille actuellement en tant que
            CTO chez
            <a href="https://big-mama.io" class="text-blue-400 underline"
                >BIGmama</a
            >, une couveuse d'IA 🐣 qui transforme des idées de compétence en
            logiciel d'IA. <br />
        </div>
        <div>
            Je dirige le développement de
            <ul>
                <li>
                    <a class="text-blue-400 underline" href="https://hyko.ai/"
                        >Hyko</a
                    > - un créateur de flux de travail d'IA
                </li>
                <li>
                    <a
                        class="text-blue-400 underline"
                        href="https://yourscrib.ai/">Yourscrib</a
                    > - un assistant d'écriture IA
                </li>
            </ul>
        </div>
        <div class="mt-4">
            <h3 class="text-lg font-bold">Faits Amusants Sur Moi</h3>
            <ul>
                <li>Je n'ai jamais possédé de smartphone</li>
                <li>Je suis père d'un adorable garçon nommé Nouh</li>
                <li>Je déteste facebook, linkedin, instagram, X, etc.</li>
                <li>
                    J'adore faire de l'autostop, camper et voyager sans plan
                </li>
            </ul>
        </div>
        <div class="mt-4">
            <h3 class="text-lg font-bold">Technologies que J'utilise</h3>
            <p>
                Python, TypeScript, FastAPI, MongoDB, Docker, Kubernetes, Redis,
                Next.js, Astro.js, VIM, GIT
            </p>
        </div>
        <div class="mt-4">
            <h3 class="text-lg font-bold">Outils que J'adore</h3>
            <p>Zeditor, Lazygit, Obsidian, Rofi, Posthog</p>
        </div>
    </div>
</Layout>
