---
import Layout from "@/layouts/Layout.astro";
---

<Layout title={`404 Not Found | 1hachem.xyz`}>
  <main
    id="main-content"
    class="mx-auto flex max-w-3xl flex-1 items-center justify-center"
  >
    <div class="mb-14 flex flex-col items-center justify-center">
      <p class="mt-4 text-2xl sm:text-3xl">Page Not Found</p>
      <a href="/" class="my-6 text-lg">{"<- Go back home"} </a>
    </div>
  </main>
</Layout>
