---
import PageLayout from "@/layouts/PageLayout.astro";
import Activity from "@/components/Activity.astro";
import About from "@/components/About.astro";
import Uses from "@/components/Uses.astro";
import LatestBlogs from "@/components/LatestBlogs.astro";
---

<PageLayout
  title="About Me - 1hachem.xyz"
  description="Learn more about Hachem Betrouni and his journey."
>
  <div class="flex flex-col gap-10">
    <h1 class="text-xl md:text-2xl">Salam alikom, It's Hachem</h1>
    <About />
    <hr class="border-1 border-dashed" />
    <LatestBlogs />
    <hr class="border-1 border-dashed" />
    <Uses />
    <hr class="border-1 border-dashed" />
    <Activity />
  </div>
</PageLayout>
