<footer class="relative flex w-full justify-center py-10">
  <div class="absolute bottom-0 w-full rotate-180 transform opacity-10"></div>
  <div class="z-10 text-center text-xs">
    Opinions are mine, all rights (and few wrongs) reserved. &copy; {
      new Date().getFullYear()
    }
  </div>
</footer>
