---
const currentPath = Astro.url.pathname;
---

<nav class="flex flex-row justify-between gap-2 p-5 md:p-10">
    <div class="flex flex-col gap-2">
        <a href={"/"}>Hachem Betrouni</a>
        <a
            href={"/"}
            class={`${currentPath == `/` ? "font-bold" : ""} hover:underline`}
            data-astro-prefetch="viewport"
        >
            about_me
        </a>
        <a
            href={"/blogs"}
            class={`${currentPath == "/blogs" ? "font-bold" : ""} hover:underline`}
            data-astro-prefetch="viewport"
        >
            my_blogs
        </a>
    </div>

    <a
        href="https://github.com/1hachem"
        class="transition-transform duration-300 hover:transform hover:translate-x-1 hover:underline"
        target="_blank"
    >
        @github -&gt;
    </a>
</nav>
