---
const currentPath = Astro.url.pathname;
---

<nav class="flex flex-row justify-between gap-2 m-10">
    <div class="flex flex-col gap-2">
        <p>Hachem Betrouni</p>
        <a
            href="/"
            class={`${currentPath == "/" ? "font-bold" : ""} hover:underline`}
            data-astro-prefetch="viewport"
        >
            /about_me
        </a>
        <a
            href="/blogs"
            class={`${currentPath == "/blogs" ? "font-bold" : ""} hover:underline`}
            data-astro-prefetch="viewport"
        >
            /blogs
        </a>
    </div>

    <div class="flex flex-col gap-2">
        <a
            href="https://github.com/1hachem"
            class="transition-transform duration-300 hover:transform hover:translate-x-2 hover:underline"
            target="_blank"
        >
            @github -&gt;
        </a>
        <a
            href="https://bsky.app/profile/1hachem.bsky.social"
            class="transition-all duration-300 hover:translate-x-2 hover:underline"
            target="_blank"
        >
            @bluesky -&gt;
        </a>
    </div>
</nav>
