---
import GitHubLogo from "@astropub/icons/GitHubLogo";
const currentPath = Astro.url.pathname;
console.log(currentPath);
---

<nav class="flex flex-col gap-2 p-5 md:pl-10">
  <a href={"/"}>Hachem Betrouni</a>
  <a
    href={"/"}
    class={`${currentPath == `/` ? "font-bold" : ""} hover:underline`}
    data-astro-prefetch="viewport"
  >
    about_me
  </a>
  <a
    href={"/blogs/all"}
    class={`${currentPath.includes("/blogs") ? "font-bold" : ""} hover:underline`}
    data-astro-prefetch="viewport"
  >
    my_blogs
  </a>
</nav>
