<div>
  <h3 class="text-lg font-bold">Technologies I Use</h3>
  <p>
    Python, TypeScript, FastAPI, MongoDB, Docker, Kubernetes, Redis, Next.js,
    Astro.js, VIM, GIT, Tailwindcss
  </p>
</div>
<div>
  <h3 class="text-lg font-bold">Tools I love</h3>
  <p>zeditor, lazygit, obsidian, rofi, posthog, zsh, tailscale, github</p>
</div>
