---
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { TAGS } from "@/consts";
import BlogsGrid from "@/components/blogs/BlogsGrid.astro";

export function getStaticPaths() {
  return TAGS.map((tag) => ({
    params: {
      category: tag,
    },
  }));
}

const { category } = Astro.params;

let blogs = (await getCollection("blog")).filter(
  (blog) =>
    (blog.data.tag == category || category == "all") && blog.data.published,
);
---

<PageLayout
  title="Blogs - 1hachem.xyz"
  description="Read Hachem Betrouni latest blog posts."
>
  <div class="flex flex-col gap-8">
    <div class="flex flex-col" transition:persist>
      <h2 class="text-xl">Filter by category:</h2>
      <div class="flex gap-2">
        {
          TAGS.map((tag) => (
            <a
              href={`/blogs/${tag}`}
              class={`mt-4 text-xs font-bold ${tag == category ? "underline" : ""}`}
            >
              #{tag}
            </a>
          ))
        }
      </div>
    </div>
    <BlogsGrid blogs={blogs} />
  </div>
</PageLayout>
