---
import type { MarkdownInstance } from "astro";
import Layout from "../../layouts/Layout.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);
interface Frontmatter {
    title: string;
    description: string;
    minutesRead: string;
    lastModified: any;
}

const blogs = import.meta.glob<MarkdownInstance<Frontmatter>>("./*.md", {
    eager: true,
});
---

<Layout title='Blogs - 1hachem.xyz' description='Read Hachem Betrouni latest blog posts.'>
    <div class="flex flex-col gap-8">
        {
            Object.values(blogs)
                .sort((a, b) =>
                    dayjs
                        .utc(a.frontmatter.lastModified)
                        .diff(dayjs.utc(b.frontmatter.lastModified)),
                )
                .map((blog) => (
                    <article class="transform transition-transform duration-300 hover:scale-105 p-5">
                        <a href={blog.url} data-astro-prefetch>
                            <h2 class="text-xl">{blog.frontmatter.title}</h2>
                            <p class="text-gray-300">
                                {blog.frontmatter.minutesRead}
                            </p>
                            <p>{blog.frontmatter.description}</p>
                            <p>
                                {dayjs()
                                    .utc(blog.frontmatter.lastModified)
                                    .format("DD MMMM YY")}
                            </p>
                        </a>
                    </article>
                ))
        }
    </div>
</Layout>
