---
import type { MarkdownInstance } from "astro";
import Layout from "@/layouts/Layout.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import PageLayout from "@/layouts/PageLayout.astro";

dayjs.extend(utc);
interface Frontmatter {
  title: string;
  description: string;
  minutesRead: string;
  lastModified: string;
}

const blogs = import.meta.glob<MarkdownInstance<Frontmatter>>("./*.md", {
  eager: true,
});
---

<PageLayout
  title="Blogs - 1hachem.xyz"
  description="Read Hachem Betrouni latest blog posts."
>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    {
      Object.values(blogs)
        .sort((a, b) => dayjs.utc().diff(dayjs.utc(b.frontmatter.lastModified)))
        .map((blog) => (
          <article class="h-full w-full rounded-md border p-4 hover:scale-105">
            <a
              href={blog.url}
              data-astro-prefetch
              class="group flex items-center justify-between"
            >
              <div class="flex items-end justify-between">
                <div>
                  <h1 class="text-xl underline group-hover:underline md:no-underline">
                    {blog.frontmatter.title}
                  </h1>
                  <p class="text-gray-300">{blog.frontmatter.minutesRead}</p>
                  <p>{blog.frontmatter.description}</p>
                  <p class="inline">
                    {dayjs(blog.frontmatter.lastModified)
                      .utc()
                      .format("DD MMMM YY")}
                  </p>
                </div>
              </div>
            </a>
          </article>
        ))
    }
  </div>
</PageLayout>
