---
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection, render } from "astro:content";
import dayjs from "dayjs";

const blogs = await getCollection("blog");
---

<PageLayout
  title="Blogs - 1hachem.xyz"
  description="Read Hachem Betrouni latest blog posts."
>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    {
      Object.values(blogs).map((blog) => (
        <article class="h-full w-full rounded-md border p-4 hover:scale-105">
          <a
            href={`blogs/${blog.id}`}
            data-astro-prefetch
            class="group flex items-center justify-between"
          >
            <div class="flex items-end justify-between">
              <div>
                <h1 class="text-xl underline group-hover:underline md:no-underline">
                  {blog.data.title}
                </h1>
                <p>{blog.data.description}</p>
              </div>
            </div>
          </a>
        </article>
      ))
    }
  </div>
</PageLayout>
