---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="my blogs"
  description="Hachem blogs, writing about different subjects."
>
  <main class="mx-auto max-w-[90%] md:max-w-[50%]">
    <slot />
  </main>
</Layout>
